<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Noticia</title>
</head>
<body>
	<main>

		<section>

			<nav>

				<h1>Noticia</h1>

			</nav>

		</section>

		<section>

			<div>

				<table>

					<thead>

						<tr>

							<th>Título</th>

							<th>Notícia</th>

							<th>Hash</th>

						</tr>

					</thead>

					<tbody>

						<tr>

							<td><%= newsData.title %></td>

							<td><%= newsData.news %></td>

							<td><%= newsData.hash %></td>

						</tr>

					</tbody>

				</table>

			</div>

		</section>

	</main>
</body>
</html>