<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Noticias</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
		integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>

<body>
	<main class='container'>

		<section class='card m-4 p-4 shadow'>

			<section>

				<nav class='text-center'>

					<h1>Notícias</h1>

				</nav>

			</section>

			<section>

				<div class='table-responsive'>

					<table class='table table-striped text-center text-nowrap'>

						<thead>
							<tr>
								<th>Título</th>
								<th>Autor</th>
								<th>Notícia</th>
								<th>Ações</th>
							</tr>
						</thead>

						<tbody>

							<% Object.keys(newsData).forEach(key => { %>
							<tr>
								<td><%= newsData[key].title %></td>
								<td><%= newsData[key].author %></td>
								<td><%= newsData[key].news %></td>
								<td>
									<a href="/noticia/<%= newsData[key].hash %>" class='btn btn-info'>Visualizar</a>
								</td>
							</tr>
							<% }); %>

						</tbody>

					</table>

					<div class='form-group text-center'>

						<a class='btn btn-success' href='/noticias/nova'>Nova</a>

					</div>

				</div>

			</section>

		</section>

	</main>
</body>

</html>